<!doctype html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Language" content="en" />
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#4188c9">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <link rel="icon" href="/tabler/images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="/tabler/images/favicon.ico" />
    <!-- Generated: 2018-04-16 09:29:05 +0200 -->
    <title>Notes App | Register</title>
    <link rel="stylesheet" href="/fontawesome-free-5.11.2-web/css/all.min.css">
    {{!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext"> --}}
    <script src="/tabler/js/require.min.js"></script>
    <script>
        requirejs.config({
            baseUrl: '.'
        });
    </script>
    <!-- Dashboard Core -->
    <link href="/tabler/css/dashboard.css" rel="stylesheet" />
    <script src="/tabler/js/dashboard.js"></script>
</head>

<body class="">
    <div class="page">
        <div class="page-single">
            <div class="container">
                <div class="row">
                    <div class="col col-login mx-auto">
                        <div class="text-center mb-6">
                            <img src="/tabler/images/brand/tabler.svg" class="h-6" alt="">
                        </div>
                        <form class="card" action="/users/signup" method="post">
                            <div class="card-header">
                                <div class="card-title"><i class="fe fe-user-plus"></i> Crear nueva cuenta</div>
                            </div>
                            <div class="card-body p-4">
                                <div class="form-group">
                                    <div class="input-icon">
                                        <span class="input-icon-addon">
                                            <i class="fe fe-user"></i>
                                        </span>
                                        <input type="text"
                                            class="form-control {{#if errors }}{{#if name }}is-valid state-valid{{else}}is-invalid state-invalid{{/if}}{{/if}}"
                                            placeholder="Nombre *" name="name" value="{{name}}">
                                    </div>
                                    {{#if errors.name }}
                                    <div class="invalid-feedback">{{errors.name}}</div>
                                    {{/if}}
                                </div>
                                <div class="form-group">
                                    <div class="input-icon">
                                        <span class="input-icon-addon">
                                            <i class="fe fe-at-sign"></i>
                                        </span>
                                        <input type="email"
                                            class="form-control {{#if errors }}{{#if errors.email }}is-invalid state-invalid{{else}}is-valid state-valid{{/if}}{{/if}}"
                                            placeholder="Correo *" name="email" value="{{email}}">
                                    </div>
                                    {{#if errors.email }}
                                    <div class="invalid-feedback">{{errors.email}}</div>
                                    {{/if}}
                                </div>
                                <div class="form-group">
                                    <div class="input-icon">
                                        <span class="input-icon-addon">
                                            <i class="fas fa-key"></i>
                                        </span>
                                        <input type="password"
                                            class="form-control {{#if errors }}{{#if password }}is-valid state-valid{{else}}is-invalid state-invalid{{/if}}{{/if}}"
                                            placeholder="Contraseña *" name="password" value="{{password}}">
                                    </div>
                                    {{#if errors.password }}
                                    <div class="invalid-feedback">{{errors.password}}</div>
                                    {{/if}}
                                </div>
                                <div class="form-group">
                                    <div class="input-icon">
                                        <span class="input-icon-addon">
                                            <i class="fas fa-key"></i>
                                        </span>
                                        <input type="password"
                                            class="form-control {{#if errors }}{{#if errors.confirm_password }}is-invalid state-invalid{{else}}is-valid state-valid{{/if}}{{/if}}"
                                            placeholder="Repite contraseña *" name="confirm_password"  value="{{confirm_password}}">
                                    </div>
                                    {{#if errors.confirm_password }}
                                    <div class="invalid-feedback">{{errors.confirm_password}}</div>
                                    {{/if}}
                                </div>
                            </div>
                            <div class="card-footer p-4">
                                <div class="row">
                                    <div class="col-6">
                                        <a href="/users/signin" class="btn btn-primary btn-block">
                                            <i class="fe fe-log-in"></i>
                                            Entrar</a>
                                    </div>
                                    <div class="col-6">
                                        <button type="submit" class="btn btn-success btn-block">
                                            <i class="fe fe-user-plus"></i>
                                            Crear cuenta</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>