<!doctype html>
<html lang="es" dir="ltr">

<head>
    {{> meta }}
    <title>Notes App | Signup</title>
    {{> assets }}
</head>

<body class="">
    <div class="page">
        <div class="page-single">
            <div class="container">
                <div class="row">
                    <div class="col col-login mx-auto">
                        <div class="text-center mb-6">
                            <img src="/tabler/images/brand/tabler.svg" class="h-6" alt="">
                        </div>

                        {{> messages }}
                        {{> errors}}

                        <form class="card" action="/users/signup" method="post">
                            <div class="card-header">
                                <div class="card-title"><i class="fe fe-user-plus"></i> Crear nueva cuenta</div>
                            </div>
                            <div class="card-body p-4">
                                <div class="form-group">
                                    <div class="input-icon">
                                        <span class="input-icon-addon">
                                            <i class="fe fe-user"></i>
                                        </span>
                                        <input type="text"
                                            class="form-control {{#if errors }}{{#if name }}is-valid state-valid{{else}}is-invalid state-invalid{{/if}}{{/if}}"
                                            placeholder="Nombre *" name="name" value="{{name}}">
                                    </div>
                                    {{#if errors.name }}
                                    <div class="invalid-feedback">{{errors.name}}</div>
                                    {{/if}}
                                </div>
                                <div class="form-group">
                                    <div class="input-icon">
                                        <span class="input-icon-addon">
                                            <i class="fe fe-at-sign"></i>
                                        </span>
                                        <input type="email"
                                            class="form-control {{#if errors }}{{#if errors.email }}is-invalid state-invalid{{else}}is-valid state-valid{{/if}}{{/if}}"
                                            placeholder="Correo *" name="email" value="{{email}}">
                                    </div>
                                    {{#if errors.email }}
                                    <div class="invalid-feedback">{{errors.email}}</div>
                                    {{/if}}
                                </div>
                                <div class="form-group">
                                    <div class="input-icon">
                                        <span class="input-icon-addon">
                                            <i class="fas fa-key"></i>
                                        </span>
                                        <input type="password"
                                            class="form-control {{#if errors }}{{#if password }}is-valid state-valid{{else}}is-invalid state-invalid{{/if}}{{/if}}"
                                            placeholder="Contraseña *" name="password" value="{{password}}">
                                    </div>
                                    {{#if errors.password }}
                                    <div class="invalid-feedback">{{errors.password}}</div>
                                    {{/if}}
                                </div>
                                <div class="form-group">
                                    <div class="input-icon">
                                        <span class="input-icon-addon">
                                            <i class="fas fa-key"></i>
                                        </span>
                                        <input type="password"
                                            class="form-control {{#if errors }}{{#if errors.confirm_password }}is-invalid state-invalid{{else}}is-valid state-valid{{/if}}{{/if}}"
                                            placeholder="Repite contraseña *" name="confirm_password"  value="{{confirm_password}}">
                                    </div>
                                    {{#if errors.confirm_password }}
                                    <div class="invalid-feedback">{{errors.confirm_password}}</div>
                                    {{/if}}
                                </div>
                            </div>
                            <div class="card-footer p-4">
                                <div class="row">
                                    <div class="col-6">
                                        <a href="/users/signin" class="btn btn-primary btn-block">
                                            <i class="fe fe-log-in"></i>
                                            Entrar</a>
                                    </div>
                                    <div class="col-6">
                                        <button type="submit" class="btn btn-success btn-block">
                                            <i class="fe fe-user-plus"></i>
                                            Crear cuenta</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>